<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.my.newproject2">
	<application
		android:allowBackup="true"
		android:label="Fantastic Books and Where To Find Them"
		android:icon="@drawable/app_icon"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait">
			<intent-filter>
				<action	android:name="android.intent.action.MAIN"/>
				<category	android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".LibraryActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".SendrequestActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
	</application>
</manifest>
